langchain
langchain-openai
langchain-huggingface
langchain-anthropic
langchain-groq
langchain-ollama
dotenv
streamlit
langchain-community
langgraph
PyPDF
beautifulsoup4
sentence-transformers
torchvision
